:root {
  --here-aqua: #48dad0;
  --here-gray: #383c45;
  --here-white: #ffffff;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

#map {
  height: 500px;
  width: 100%;
}

.here-gray {
  background-color: var(--here-gray);
}

.first-section {
  background-color: var(--here-aqua);
  height: 15vh;
}
