:root {
  --here-aqua: #48dad0;
  --here-gray: #383c45;
  --here-dark-gray: #0f1621;
  --here-white: #ffffff;
}

body {
  background-color: var(--here-gray);
  font-family: 'Fira Sans', sans-serif;
}

#map {
  background: var(--here-gray);
  height: 100vh;
  width: 97vw;
}

.here-gray {
  background-color: var(--here-dark-gray);
}

.first-section {
  background-color: var(--here-aqua);
  height: 15vh;
}

.position {
  position: absolute;
  top: 46%;
  z-index: 1000;
}

.position2 {
position: absolute;
bottom: 24%;
}

.position3 {
  position: absolute;
  top: 35%;
}

.display-none {
  display: none;
}

.nav-link {
  color: var(--here-aqua);
}

.nav-link:hover {
  color: var(--here-white);
}

.footer {
  font-size: 0.8em;
}