:root {
  --here-aqua: #48dad0;
  --here-gray: #383c45;
  --here-dark-gray: #0f1621;
  --here-white: #ffffff;
}

body {
  /* background-color: var(--here-gray); */
  font-family: 'Fira Sans', sans-serif;
}

.first-section {
  background-color: var(--here-gray);
}

.second-section {
  background-color: var(--here-white);
}

#map {
  background: var(--here-gray);
  height: 92vh;
  width: 97vw;
}

.here-gray {
  background-color: var(--here-dark-gray);
}

.position {
  position: absolute;
  top: 30%;
  z-index: 1000;
}

.position2 {
position: absolute;
bottom: 24%;
}

.position3 {
  position: absolute;
  top: 20%;
}

.display-none {
  display: none;
}

header .collapse ul .nav-item .nav-link {
  color: var(--here-aqua);
}

ul .nav-item .nav-link:hover {
  color: var(--here-white);
}

.footer {
  font-size: 0.8em;
}

/* clases para TABLET  */
@media (min-width: 768px) {
  
}

/* clases para DESKTOP */
@media (min-width: 992px) {
  
}

